
/* color code 
Green : #2DCB73
box-shadow: 2px 3px 14px 2px #000000;

*/

*{
  font-family:Arial, Helvetica, sans-serif;
}

/* =============================================================== */
/* Header  design */
/* ============================================================ */
.header-container{
  min-height:70px;
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 100;
  background: white;
  box-shadow: 1px 1px 1.5px 1px #00000046;
  margin-bottom: 0px;
  overflow: hidden;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  
  
  /* box-shadow: 0.5px 0.5px 0.75px 0.5px #00000046; */
}

ul.sidenav li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-size:18px ;
}
 
ul.sidenav li a.active {
 
color: #2DCB73;
}

ul.sidenav li a:hover:not(.active) {
  /* background-color: #555; */
  color: #2DCB73;
}




@media screen and (min-width: 900px) {
  ul.sidenav {
    width: 100%;
    height: auto;
  }
  
  ul.sidenav li a {
    float: left;
    padding: 15px;
  }
  
}



@media screen and (max-width: 823px) {
  ul.sidenav li{
    margin-top: 15px;
    margin-bottom: 4px;
    /* border-bottom: 1px outset gray; */
  }
  ul.sidenav li a{
    padding: 0;
    float: none;


  }
 
}


/* -===================================================================================
=======================    welcome page  
===============================================================================       */
.hero {

  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./images/notetaking.png');
  background-size: cover;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color:rgba(19, 32, 19, 0.452);
}



.hero h1 {
color:black;

overflow: hidden; /* Ensures the content is not revealed until the animation */
border-right: .15em solid orange; /* The typwriter cursor */
white-space: nowrap; /* Keeps the content on a single line */
margin: 0 auto; /* Gives that scrolling effect as the typing happens */
letter-spacing: .15em; /* Adjust as needed */
animation:
typing 3.5s steps(30, end),
blink-caret .5s step-end infinite;
font-size:40px !important;
font-weight: bold;
}

/* The typing effect */
@keyframes typing {
from { width: 0 }
to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
from, to { border-color: transparent }
50% { border-color: orange }
}






/* =======================================
============= main content
==================================*/

.main-content{
  margin-top:60px;
 height: 100%;
}
a {
    color: white;
  }
  .title {
    width:35%;
    /* padding: 10px 20px 10px 10px; */
    min-height: 550px;
    font-size: 20px;
    position: relative;
    color: #FFF;
    background: #FBFBFB;
    border: 1px solid #FBFBFB;
  }
  .cnct-main-descri-container{
    width: 30%;
    background-color: white;
    /* display:inline-block; */
    float: right;
    height: 100px;
    
}


  .title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background: #fbfbfb;
    transform-origin: bottom left;
    -ms-transform: skew(-30deg, 0deg);
    -webkit-transform: skew(-30deg, 0deg);
    transform: skew(-30deg, 0deg);
    box-shadow: 2px 2px 3px 2px #00000046;
  }
  .title h2{
    margin-left: 60px;
    margin-top: 70px;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    
  }

  .title img{
    margin-top: 20px;
    border-radius:50%;
    margin-left: 70px;
  }
/* form */

.form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(60%) translateY(130%);
  
}
.form h1 {
  display: block;
  margin: 0 0 45px 0;
  color: #1d1b1b;
  font-weight: 200;
  font-size: 20px;
}

.group { 
  position: relative; 
  margin-bottom: 25px; 
}

.form input, textarea {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #292727;
  color: #131212;
  background: rgba(240, 223, 223, 0);
  opacity: 0.5;
  transition: 0.2s ease;
 
}
.form textarea{
  height: 85px !important;
}


input:focus {
  outline: none;
  opacity: 1;
}
.form label {
  color: #070707; 
  font-size: 13px;
  font-weight: normal;
  position:absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,input:valid ~ label ,textarea:focus~label,textarea:valid~label		{
  top: -10px;
  font-size: 12px;
  color: #000000;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
input:focus ~ .highlight,textarea:focus~.highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}
.update-btn{
  margin-left: 20px;
  width: 100px;
  height: 30px;
  background-color: #1636ebd2;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px #00000046;
}
.delete-btn{
  margin-left: 120px;
  width: 100px;
  height: 30px;
  background-color: #eb1616;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 2px #00000046;
  

}

.send-btn {
  float: right;
  border: 1px solid #2DCB73;
  color: white;
  width: 150px;
  height: 40px;
  font-size: 19px;
  transition: 0.2s ease;
  background-color: #2DCB73;
  text-align: center;
  border-radius: 20px;
  box-shadow: 2px 2px 3px 2px #00000046;
  text-transform: uppercase;

}

.send-btn:hover {
  color: #FAFAFA;
  cursor: pointer;
}


/*  responsiveness  */

@media screen and (max-width:823px) {
  .title {
    width:100%;    
    height: 100%;;
    color: #FFF;
    background: #2DCB73;
    border: 1px solid #2DCB73;
    display: block;
  }

  .title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /* z-index: -1; */
    background: #2DCB73;
    transform-origin:0;
    -ms-transform: skew(0deg, 0deg);
    -webkit-transform: skew(0deg, 0deg);
    transform: skew(0deg, 0g);
  }
  .title h2{
    margin-left: 25px;
    margin-top: 10px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    
  }

  .title img{
    margin-top: 20px;
    width: 40%;
    border-radius:50%;
    margin-left: 30px;
  }

/* form responsiveness  */

.cnct-main-descri-container{
  width: 100%;
  background-color: white;
  float:none;
  height: 410px;
  display: block;
}

.form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 100%;
  /* left: 100%; */
  transform: translateX(-40%) translateY(160%);
  
}

.form input, textarea {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 150px;
  border: none;
  outline: none;
  border-bottom: 1px solid #292727;
  color: #131212;
  background: rgba(240, 223, 223, 0);
  opacity: 0.5;
  transition: 0.2s ease;
 
}
.send-btn {
  margin-right: 100px;
  width: 100px;

}

}




/* ====================================================================== */
/* notes list */
/* =================================================================== */

body {margin:0;}
.notes-container{
    margin-top: 10px;
    background-color:#FBFBFB;
    min-height: 450px; 
    color:black;
    
}

.horizontal-bar{
    height: 2px;
    width: 40px;
    display: inline-block;
    background-color: rgb(151, 138, 138);
    margin-right: 12px;
    margin-left: 20px;
    color:black;
}
.notes-Header h1{
    margin-left: 20px;
    font-weight: bold;
    color: rgb(61, 59, 59);
    font-size: 30px;
    
}


.panel {
  max-width: 65%;

  margin: auto;
  margin-top: calc(5% - 0px);
}
details {
  background: #fff;
  font-size: 16px;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  display: flex;
}

details div.content {
  padding: 0px 24px 24px 24px;
}

details[open] summary:after {
  color: #9e9e9e;
  content: "";
  
}
details[open] {
  margin-top: 16px;
  margin-bottom: 16px;
  border: none;
  border-radius: 2px;
}
details[open]:first-child {
  margin-top: 0;
  margin-bottom: 16px;
  border: none;
}
details[open]:last-child {
  margin-top: 16px;
  margin-bottom: 0px;
  border: none;
}

summary {
  outline: none;
  cursor: pointer;
  padding: 16px 24px;
  color: #212121;
  position: relative;
  font-size: 15px;
}
summary:hover {
  background: #eeeeee;
}

details[open] summary:hover {
  background: none;
}

summary::after {
  content: "";
  color: #9e9e9e;
  font-size: 1.5em;
  padding: 0;
  text-align: center;
  margin-top: 0;
  position: absolute;
  top: calc(50% - 12px);
  bottom: 0;
  right: 0;
  width: 6%;
}




@media screen and (max-width:823px){

  .notes-container{
    margin-top: 0px;
    background-color:#FBFBFB;
    min-height: 200px; 
    
}

.horizontal-bar{
  height: 2px;
  width: 40px;
  display: inline-block;
  background-color: rgb(151, 138, 138);
  margin-right: 12px;
  margin-left: 0px;
}
.notes-Header h1{
  margin-left: 0px;
  font-weight: bold;
  color: rgb(61, 59, 59);
  font-size: 20px;
  
}

  
}


  /* ===========================================================
  ===== about us Design              
  ==================================================== */

  
.about-me-container{
  width: 100%;
  height: 760px;
  /* background-color: blueviolet; */
  }
  
  .about-me-container div{
    float: left;
    margin-left: 0%;
    height:680px;
  }
  
  .about-container{
    width: 60%;
    /* background-color: white; */
    padding-top: 150px;
  }
  
    .about-image{
      width: 38%;
      /* background-color:white; */
    }
    .about-image img{
      height:500px;
      width: 400px;
      font-size: 20px;
      margin-left: 90px;
    }
  
  .about-container{
  /* background-color: white; */
  width: 33%;
  margin-left:170px !important;
  
  }
  
  .horizontal{
    margin-top: 6px;
    height:2px !important;
    border: 2px;
    background-color:grey;
    margin-right: 10px;
    width:30px;
    display: inline-block;
  }
  .about-coninter-description h1{
  font-weight: bold;
  font-size: 25px;
  }
  
  .about-coninter-description p{
   font-size: 18px;
  }

  /*About us responsiveness  */
  @media screen and (max-width:823px)
   {

    .about-me-container{
      width: 100%;
      height: 760px;
      }
      
      .about-me-container div{
        float: none;
        margin-left: 0%;
        height:380px;
        display: block;
      }
      
      .about-container{
        width: 100%;
        /* padding-top: 150px; */
      }
      
        .about-image{
          width: 100%;
          /* background-color:white; */
        }
        .about-image img{
          height:200px;
          width: 160px;
          /* font-size: 20px; */
          /* margin-left: 90px; */
        }
      
      .about-container{
      /* background-color: white; */
      width: 100%;
      margin-left:0px !important;
      
      }
      
      .horizontal{
        margin-top: 6px;
        height:2px !important;
        border: 2px;
        background-color:grey;
        margin-right: 10px;
        width:30px;
        display: inline-block;
      }
      .about-coninter-description h1{
      font-weight: bold;
      font-size: 25px;
      }
      
      .about-coninter-description p{
       font-size: 16px;
      }







  }
  
  